@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: #3A66FF ;
    display:flex;
    align-items: center;
    height: 64px;
    width:auto;
}

.spacer{
    flex-grow: 1;
}

.SSUI .book_button{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}

.SSUI{
    left: 27px;
    top: 21px;

    padding:4px 1px 3px 1px;
    position:absolute;

    color: #FFFFFF;
}

.book_button{

    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px 18px 8px 18px;

    font-weight: 600;
    text-align: center;

    width: 93px;
    height: 38px;
    
    color: black;

    cursor: pointer;
}

.seat{
    background-color: #FFFFFF;
    height:20px;
    width:20px;
    border: 1px solid #000000;
    margin-left: 16px;
    margin-bottom: 16px;

    cursor:pointer;
}

.seat:hover{
    background-color: #3A66FF;
    height:20px;
    width:20px;
    border: 1px solid #000000;
    margin-left: 16px;
    margin-bottom: 16px;
    transform: scale(1.2);

    cursor: pointer;
}

.seatsold{
    background-color: #D9D9D9;
    height:20px;
    width:20px;
    border: 1px solid #000000;
    margin-left: 16px;
    margin-bottom:16px;

    cursor:default;
}

.block11{
    position: absolute;
    left:348px;
    top: 96px;
}
.block12{
    position: absolute;
    left:766px;
    top: 96px;
}
.block21{
    position:absolute;
    left:348px;
    top: 286px;
}
.block22{
    position:absolute;
    left:766px;
    top: 286px;
}
.block31{
    position:absolute;
    left:348px;
    top: 476px;
}
.block32{
    position:absolute;
    left:766px;
    top: 476px;
}
.inBlock313456{
    position:absolute;
    left:462px;
    top:552px;
}
.inBlock317{
    position:absolute;
    left:538px;
    top:704px;
}
.row{
    display: flex;
    align-items: stretch;
} 
